           /* Body section start */
           body {
               font-family: 'Nunito', sans-serif;
               font-family: 'Poppins', sans-serif;
               font-family: 'Roboto', sans-serif;
           }

           /* Banner section start */
           .banner-container {
               background-color: #CACACA;
           }

           .banner-col {
               background-color: #808080;
           }

           /* Navbar section start */
           .navbar-container {
               top: 0;
               background-color: #262837;
               position: sticky;
               z-index: 2;
           }

           /* About me section start */
           .about-container {
               background-color: #008089;
           }

           /* education section */
           .education-container {
               background-color: #EEEEEE;
           }

           .bg-redtype {
               background-color: #F8857F;
           }

           .text-redtype {
               color: #F8857F;
           }

           .circle {
               background-color: #F8857F;
               width: 150px;
               height: 150px;
               border-radius: 50%;
           }

           /* Project section */
           .project-container {
               background-color: #2BB300;
           }

           /* Gallery section */
           .form-container {
               background-color: #474D50;
           }

           .inner-form {
               background-color: #585f73;
           }

           /* footer section */
           .footer-container {
               background-color: #40E0D0;
           }

           .circle-footer {
               width: 60px;
               height: 60px;
               border-radius: 50%;
               display: inline-block;
               background-color: white;
               font-size: 40px;
               text-align: center;
               color: #40E0D0;
           }

           .circle-footer:hover {

               background-color: #474D50;

           }